@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    all: unset;
    font-family: "CodeNewRoman Nerd Font Mono", monospace;
    font-size: 18px;
    outline: none;
    border: none;
    text-shadow: none;
    background-color: transparent;
}

window {
    all: unset;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(30, 30, 30, 0.85);
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {
    border: none;
}

#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}

#input {
    all: unset;
    margin: 20px;
    padding: 15px;
    border: none;
    outline: none;
    color: #e0e0e0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(50, 50, 50, 0.6);
}

#input image {
    border: none;
    color: #ff5555;
    padding-right: 10px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    border-radius: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: #e0e0e0;
    outline: none;
}

#entry {
    border: none;
    margin: 5px;
    padding: 10px;
}

#entry arrow {
    border: none;
    color: #cba6f7;
}

#entry:selected {
    box-shadow: 1px 1px 8px rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
    background-color: rgba(100, 80, 220, 0.25);
}

#entry:selected #text {
    color: #f5c2e7;
}

#entry:drop(active) {
    background-color: #cba6f7 !important;
}
