/* style_materialOceanFloatStyle */

@define-color bg #263238;
@define-color fg #eceff1;
@define-color blk #37474f;
@define-color red #ef5350;
@define-color grn #80cbc4;
@define-color ylw #ffd54f;
@define-color blu #42a5f5;
@define-color mag #ab47bc;
@define-color cyn #26c6da;
@define-color brblk #455a64;
@define-color wht #ffffff;

window#waybar {
  background: rgba(38, 50, 56, 0.15);
  color: @fg;
}

#clock,
#network,
#battery,
#custom-brightness,
#pulseaudio,
#custom-snip,
#tray,
#custom-netspeed,
#idle_inhibitor,
#custom-power,
#custom-reboot,
#custom-quit,
#custom-lock,
#custom-launcher {
  background: alpha(@blk, 0.92);
  min-width: 14px;
  padding: 0 16px;
  margin: 2px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

#custom-brightness:hover,
#network:hover,
#clock:hover,
#netspeed:hover,
#pulseaudio:hover,
#custom-clip:hover,
#custom-snip:hover,
#tray:hover,
#idle_inhibitor:hover,
#custom-reboot:hover,
#custom-quit:hover,
#custom-lock:hover {
  background: @mag;
  color: #263238;
}

#custom-power:hover {
  color: @red;
}

#custom-power {
  color: @grn;
}

#pulseaudio.muted {
  background: @ylw;
  color: #263238;
}

#netspeed {
  background: transparent;
}

#battery.charging {
  color: @grn;
}

#battery.warning {
  color: @red;
}

#workspaces button {
  padding: 0px 12px;
  margin: 2px;
  border-radius: 5px;
  color: @grn;
  background: alpha(@blk, 0.92);
}

#workspaces button.active {
  border-bottom: 1px solid @grn;
}

#workspaces button.empty {
  color: @wht;
}

#workspaces button.empty.active {
  color: @wht;
}
